@using BusinessLayer.ViewModels
@model ListBookViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Books</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info">Add New</a>
</p>

<table id="data-table" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Author")
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (BookViewModel book in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = book.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = book.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Styles {
    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.min.css")
}
@section Scripts{
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")

    <script type="text/javascript">
        $(function() {
            $("#data-table").dataTable();
        });
    </script>
}